.home  {
	background: url(/assets/home.jpg);
	background-position: center center;
	background-size: cover;
}
.figuresContainer {
	z-index: 0;
	position: absolute;
	top: 0;
	width: 100%;
	overflow: hidden;
	.figures {
		transform: scale(1.25);
		.row {
			[class^="col"] {
				height: 50vh;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-top: 0;
				margin-bottom: 0;

				&:hover {
					svg {
						animation-direction: reverse;
					}
				}

			}

			


			svg {
				position: relative;
				display: inline-block;
				width: 75%;

				&.a, &.c, &.e {
					animation-direction: reverse;
				}

				transition: all 200ms ease-out;
			}

			@media only screen and (min-width: $breakpoint-large) {
				svg {
					&.a {
						left: 2.5vw;
					}
					&.b {
						top: 0;
						left: -5vw;
					}
					&.c {
						top: -5vh;
						left: -5vw;
					}
					&.d {
						left: 7.5vw;
						top: 10vh;
					}
					&.e {
						left: 5vw;
						top: 10vh;
					}
					&.f {
						left: 7.5vw;
						bottom: 5vh;
					}
				}
			}

			@media only screen and (max-width: $breakpoint-large) {
				svg {
					width: 175%;
					&.a, &.c {
						margin-top: 20vh;
					}
					&.d, &.f {
						margin-bottom: 20vh;
					}
					&.b {
						margin-top: -10vh;
					}
					&.e {
						margin-top: 10vh;
					}
				}
			}
		}
	}
	
}

.wave {
	font-size: calc(3em + 3vw);
	text-align: center;
}

.wave .char {
	animation: wave 2s ease-in-out infinite;
	transform: translateY(-33%);
	animation-delay: calc(0.15s * var(--char-index));
	display: inline-block;
}

@keyframes wave {

	0%,
	100% {
		transform: translateY(-33%) rotate(-7.5deg);
	}

	50% {
		transform: translateY(33%) rotate(7.5deg);
	}
}

.logoContainer {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 95vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	.logo,
	.slogan {
		position: absolute;
		display: inline-block;
		width: 85vw;
		margin-top: 7.5vh;

		@media only screen and (min-width: $breakpoint-med) {
			width: 45vw;
			margin-top: 0;
		}
		svg {
			width: 100%;
			animation: spin infinite 60s linear;
			animation-delay: -66s;
		}

		@keyframes spin {
			0% {
				transform: rotate(0);
			}

			50% {
				transform: rotate(180deg);
			}

			100% {
				transform: rotate(360deg);
			}
		}
	}
	 .slogan svg {
		animation-direction: reverse !important;
		animation-delay: -6s;
	}
}
.quoteContainer {
	position: fixed;
	bottom: 0;
	width: 100vw;
	min-height: 5vw;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	#quote {
		font-size: calc(1em + 0.25vw);
		width: 100%;
		max-width: 480px;
		margin: 0 20px 20px;
		text-align: center;
		font-weight: $font-weight-heavy;
	}
}