$yellow: rgb(252,247,123);
$green:rgb(80,169,123);
$lila: rgb(207,161,191);
$orange: rgb(217,143,86);
$blue: rgb(154,194,220);
$blueDark: rgb(57,45,122);
$pink: rgb(255,206,222);
$boldPink: rgb(211,117,161);
$pinkDark: rgb(155,38,95);

// Add your styles here
$defaultSpacing: 30px;