<nav class="container center">
    <ul>
    {% for entry in site.data.navigation %}
        {% assign sublinks = entry.sublinks %}
        {% if sublinks %}
			<li class="{{entry.url | remove: '/'}} {% if {{ entry.url }} == page.url %}current{% endif %}">
				<a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
				<ul>
					{% for sublink in sublinks %}
					<li><a href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a></li>
					{% endfor %}
				</ul>
			</li>
        {% else %}
			<!-- {% if entry.title == 'woensdag' %}
			<li class="{{entry.url | remove: '/'}} {% if entry.url == page.url %}current{% endif %}">
				<a href="{{ site.baseurl }}{{ entry.url }}">{% include womiclub_logo.html %}</a>
			</li>
			{% else %} -->
				<li class="{{entry.url | remove: '/'}} {% if entry.url == page.url %}current{% endif %}">
					<a href="{{ site.baseurl }}{{ entry.url }}">{{ entry.title }}</a>
				</li>
			<!-- {% endif %} -->
        {% endif %}
    {% endfor %}
    </ul>
</nav>