<!DOCTYPE HTML>

<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="theme-color" content="{{page.color}}">
	<!-- TODO: favicon -->
	{% if page.image %}
		<meta content="{{ site.url }}/{{site.baseurl}}/assets/{{page.image}}" property="og:image">
	{% else %}
		<meta content="{{ site.url }}/{{site.baseurl}}/assets/main_og.png" property="og:image">
		{% endif %}	
	{% if page.layout == 'home' %}
		<title>{{ page.title }}</title>
	{% else %}
		<title>{{ page.title }} - lang lief leren</title>
	{% endif %}
	{% seo title=false %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,600;1,800&display=swap" rel="stylesheet">
  </head>
  <body class="{{ page.url | remove: '/' }}">
	{% include navigation.html %}
    <section>
      {{ content }}
    </section>
  </body>
</html>
