---
layout: home
---
<script type="text/javascript" src="https://checkoutpage.co/js/overlay.js" defer></script>

<section class="subpage container">
	<div class="row right">
		<figure class="wmc-logo col-12-sm col-9">
			{% include womiclub_logo.html %}
		</figure>
	</div>
	<div class="row">
		<div class="col-6 offset"></div>
		<article class="col-6 text">
			{{ content }}
		</article>
	</div>
	<div class="row">
		<figure class="aside col-6 col-12-sm">
			<img src="{{ site.baseurl }}/assets/{{ page.url | remove: '/' }}.jpg" />
		</figure>
	</div>
</section>